.divider {
    height: 1px;
    margin: 32px 0; 
}

/* Tablet */
@media (min-width: 768px) {
    .divider {
        margin: 64px 0;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .divider {
        margin: 96px 0;
    }
}